@media (min-width: 1700){
    #page-home {
        background-position-x: 40vw;
    }
}

@media(max-width: 768px){
    #page-home {
        background-position-x: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    
    #page-home header a {
        position: absolute;
        bottom: 30px;
        
        left: 50%;
        transform: translateX(-50%);
    }
    
    #page-home main {
        align-items: center;
    }

    .page-create-point form {
        margin: 50px;
        
    }

    .page-search-results .cards{
        grid-template-columns: 1fr;
    }

    .page-create-point .field-group{
        flex-direction: column;
    }

    .page-create-point .field-group .field + .field{
        margin-left: 0;
    }
}

@media(max-width: 425px){

    #pade-home heade img{
        margin-top: 10px;
    }

    #page-home header a {
        position: absolute;
        bottom: -100px;
        margin-bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main h1{
        font-size: 45px;
    }

    .page-create-point form {
        margin: 50px 0 0 0;   
    }

    .items-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 375px){

    .items-grid{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 320px){

    #page-home .content {
        width: 90%;
        margin: 0 auto;
    }

    #page-home header {
        margin-top: 48px    
    }

    .page-create-point form {
        padding: 25px;  
    }

    form input {

        padding:  16px 0px;
    }

}
